$error : #eb3b5a;
$success: #26de81;

body{
  margin: 0;
  padding: 0;
}

.app{
  margin: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  font-size: 1.2em;
  h2{
    font-weight: 400;
    font-size: 1.6em;
  }
  p{
    margin: 10px 0;
  }
}

.person{
  display: flex;
  flex-direction: row;
  button{
    width: 60px;
    height: 20px;
    margin-left: 10px;
  }
  align-items: center;
}

.notification {
  color: $success;
}
.err{
  color: $error;
}